$main_background-color: #C2E0F4; // голубой цвет, используемый в хэдере и в футере на первой странице и фоном на остальных страницах
$main_color: #002B48; // темный цвет текста, используемый на макете
$minor_color: #FFFFFF; // светлыый цвет текста, используемый на макете

$title-big_size: 4rem; // размер самых больших заголовков на 1й странице
$title-big_weight: 500; // вес самых больших заголовоков на 1й странице
$title-big_line-height: 5.2rem; // высота строки для самых больших заголовоков на 1й странице

$title-second_size: 2.5rem; // размер заголовков на 2-5стр страницах
$title-second_weight: 600; // вес заголовков на 2-5стр страницах
$title-big_line-height: 2.9rem; // высота строки заголовков на 2-5стр страницах

$text_font-weight: 400; // вес шрифта, который используется в параграфах, то есть везде, кроме заголовков 
$text-font-size: 1.5rem; // размер шрифта, который используется в параграфах, то есть везде, кроме заголовков 
$text-line_height: 2.1rem; // высота шрифта, который используется в параграфах, то есть везде, кроме заголовков 
